<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BrainSpace{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="{% url 'landing' %}">
                <img src="{% static 'images/logo.png' %}" alt="BrainSpace Logo" class="header-logo">
            </a>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'landing' %}">About</a>
                <a href="{% url 'landing' %}" class="signupbtn">Profile</a>
                <a href="{% url 'logout' %}" class="loginbtn">Logout</a>
                {% else %}
                <a href="{% url 'landing' %}">About</a>
                <a href="{% url 'signup' %}" class="signupbtn">Sign up</a>
                <a href="{% url 'login' %}" class="loginbtn">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>


