{% extends 'cards/header.html' %}

{% block title %}Create League{% endblock %}

{% block content %}
{% load static %}
<form method="post" id="league-form">
    {% csrf_token %}
    
    <div class="flashcard-nav-header">
        <div class="flashcard-nav-title form-group">
            <label for="league_name"><h1>League Name:</h1></label>
            <input type="text" id="league_name" name="league_name" required>
        </div>
        <div class="flashcard-nav-buttons">
            
            <a href="{% url 'profile' %}" class="loginbtn" onclick="return confirmBack()">Back</a>
   
        </div>
    </div>  

    <div class="scrollbox">
        <h2>Select Friends to Invite</h2>
        {% for friend in friends %}
        <div class="friend-item">
            <input type="checkbox" class="custom-checkbox" id="friend{{ friend.id }}" name="friends" value="{{ friend.id }}">
            <label for="friend{{ friend.id }}" class="custom-label">{{ friend.user.username }}</label>
        </div>
        {% empty %}
        <p><a href="{% url 'profile' %}" class="loginbtn">Add some friends first!</a></p>
        {% endfor %}
        <button type="submit" class="loginbtn">Create League</button>
    </div>
    
    
</form>

<script>
    function confirmBack() {
        return confirm('Are you sure you want to leave the page? Your changes will not be saved.');
    }
</script>
{% endblock %}

