{% extends 'cards/header.html' %}

{% block title %}{{ league.name }} - League{% endblock %}

{% block content %}
<div class="flashcard-nav-header">
    <h1 class="league-title">{{ league.name }}</h1>
    <p class="league-owner">Owned by: {{ league.owner.user.username }}</p>
    <a href="{% url 'profile' %}" class="loginbtn">Back</a>
</div>
<div class="dashboard">
    <table class="league-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for member in league.league_users.all %}
            <tr>
                <td>#{{ forloop.counter }}</td>
                <td>{{ member.user.user.username }}</td>
                <td>{{ member.score }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No members yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
