{% extends 'cards/header.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="signup-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
            <a href="" class="forgot">Forgot password</a>
        </form>
        <div id="toast-container" class="toast-container"></div>
</div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messages = [
            {% for message in messages %}
                "{{ message|escapejs }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        messages.forEach(function (message) {
            showToast(message);
        });
    });

    function showToast(message) {
        const toastContainer = document.getElementById('toast-container');
        const toast = document.createElement('div');
        toast.classList.add('toast');
        toast.textContent = message;

        toastContainer.appendChild(toast);

        setTimeout(() => {
            toast.remove();
        }, 5000);
    }
</script>
{% endblock %}
