{% extends 'cards/header.html' %}

{% block title %}Match: {{ flashcard_set.name }}{% endblock %}
{% block content %}
<div class="flashcard-nav-header">
    <div class="flashcard-nav-title">
        <h1>Match</h1>
    </div>
    <div class="flashcard-nav-buttons">
        <a href="{% url 'study' flashcard_set.id %}" class="loginbtn">Back</a>
    </div>
</div>

<div class="game-box">
    {% csrf_token %}
        <h2><strong>Term:</strong> {{ flashcard.term }}</h2>
        <div class="definition-options">
            <p><strong>Choose the correct definition:</strong></p>
            {% for option in flashcard.options %}
                <div class="option">
                    <input type="button" id="option{{ forloop.counter }}" name="selected_answer" value="{{ option }}" required>
                    <label for="option{{ forloop.counter }}" class="custom-radio">{{ option }}</label>
                </div>
            {% endfor %}
        </div>
</div>

<div class="progress-container">
    <div class="progress-bar" id="progress-bar"></div>
</div>
<div class="progress-info">
    <span id="progress-percentage">{{ progress_percentage|floatformat:0 }}%</span>
</div>

{% endblock %}
