{% extends 'cards/header.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
{% load static %}
<script src="https://unpkg.com/htmx.org@1.9.4"></script>

<div class="dashboard">
    <div class="profile-box">
        <div class="flashcard-nav-header">
            <h1>{{ user.username }}</h1>
            <button id="edit-profile" class="loginbtn">Settings</button>
        </div>
        <div class="badge-container">
            {% for badge in displayed_badges %}
                <div class="badge-box">
                    <div class="badge-image">
                        <img src="{% static badge.image %}" alt="{{ badge.name }}">
                    </div>
                </div>
            {% endfor %}
            <div class="badge-image">
                <img src="{% static 'images/edit_badge.png' %}" alt="Edit badges">
            </div>
        </div>
    
        <div class="dashboard">
            <div class="scrollbox">
                <div class="flashcard-nav-header">
                    <h2>Friends</h2>
                    <img src ="{% static 'images/add_circle.png' %}" id="openModal" alt="Add Friends" cursor="pointer">
                </div>
                {% for friend in friends %}
                    {{ friend.username }}
                {% endfor %}
            </div>

            <div id="friendModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span id="closeModal" class="close">&times;</span>
                    <h3>Add Friends</h3>
                    <input type="text" id="searchInput" name="search"
                    hx-get="{% url 'search_users' %}" 
                    hx-trigger="keyup changed delay:300ms"
                    hx-target="#searchResults"
                    hx-params="*">
                    <div id="searchResults"></div>
                </div>
            </div>

            <div class="scrollbox">
                <div class="flashcard-nav-header">
                    <h2>Leagues</h2>
                </div>
                List leagues here
            </div>
        </div>
</div>


<script>
    document.getElementById("openModal").addEventListener("click", function() {
        document.getElementById("friendModal").style.display = "flex";
    });

    document.getElementById("closeModal").addEventListener("click", function() {
        document.getElementById("friendModal").style.display = "none";
    });
</script>

{% endblock %}