{% extends 'cards/header.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <button type="submit">Sign up</button>
        </form>
        <div class="password-requirements">
            <h4>Password Requirements:</h4>
            <ul>
                <li>At least 8 characters long</li>
                <li>At least one uppercase letter (A-Z)</li>
                <li>At least one digit (0-9)</li>
                <li>At least one special character (.,!?-*&)</li>
            </ul>
        </div>
        <div id="toast-container" class="toast-container"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messages = [
            {% for message in messages %}
                "{{ message|escapejs }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        messages.forEach(function (message) {
            showToast(message);
        });
    });

    function showToast(message) {
        const toastContainer = document.getElementById('toast-container');
        const toast = document.createElement('div');
        toast.classList.add('toast');
        toast.textContent = message;

        toastContainer.appendChild(toast);

        setTimeout(() => {
            toast.remove();
        }, 5000);
    }
</script>
{% endblock %}