{% extends 'cards/header.html' %}

{% block title %}Study: {{ flashcard_set.name }}{% endblock %}
{% block content %}
{% load static %}
<div class="flashcard-nav-header">
    <div class="flashcard-nav-title">
        <h1>Study: {{ flashcard_set.name }}</h1>
    </div>
    <div class="flashcard-nav-buttons">
        <a href = "{% url 'edit' flashcard_set.id %}"><img src = "{% static 'images/Edit.png' %}"></a>
        <a href = "{% url 'dashboard' %}" class="loginbtn">Back</a>
    </div>
</div>

<div class="dashboard">
    <div class="flashcard-sidebar"> 
        <div class="scrollbox">
            {% for flashcard in flashcards %}
            <div class="flashcard-box">
                <div class="term-container">
                    <h3 class="term-heading">Term</h3>
                    <p class="term">{{ flashcard.term }}</p>
                </div>
                <div class="vertical-divider"></div>
                <div class="definition-container">
                    <h3 class="definition-heading">Definition</h3>
                    <p class="definition">{{ flashcard.definition }}</p>
                </div>
            </div>
            {% empty %}
            <p>No flashcards found in this set.</p>
            {% endfor %}
        </div>
    </div>
    <div class="study-grid">
        <div class="option-box">
            <a href="{% url 'setup_true_false' flashcard_set.id %}" class="study-option">
                <img src="{% static 'images/true_or_false.png' %}" alt="True or False">
            </a>
            True or False
        </div>
        <div class="option-box">
            <a href="{% url 'setup_fill_the_blanks' flashcard_set.id %}" class="study-option">
                <img src="{% static 'images/fill_blank.png' %}" alt="Fill the Blanks">
            </a>
            Fill the Blanks
        </div>
        <div class="option-box">
            <a href="{% url 'landing' %}" class="study-option">
                <img src="{% static 'images/multiple_choice.png' %}" alt="Quiz">
            </a>
            Quiz
        </div>
        <div class="option-box">
            <a href="{% url 'landing' %}" class="study-option">
                <img src="{% static 'images/match.png' %}" alt="Match">
            </a>
            Match
        </div>
    </div>
</div>
{% endblock %}