{% extends 'cards/header.html' %}

{% block title %}True or False: {{ flashcard_set.name }}{% endblock %}
{% block content %}
{% load static %}
<div class="flashcard-nav-header">
    <div class="flashcard-nav-title">
        <h1>True or False?</h1>
    </div>
    <div class="flashcard-nav-buttons">
        <a href = "{% url 'study' flashcard_set.id %}" class="loginbtn">Back</a>
    </div>
</div>

<div class="feedback-box">
    <h2>Feedback</h2>
    <p>{{ feedback_message }}</p>
    
    {% if flashcard %}
    <div class="flashcard">
        <p><strong>Term:</strong> {{ flashcard.term }}</p>
    </div>
    <div class="flashcard">
        <p><strong>Definition:</strong> {{ flashcard.definition }}</p>
    </div>
    {% endif %}
</div>

<div class="next-question-container">
    <a href="{% url 'true_false_next' flashcard_set.id %}" id="next-button" class="next-button">Next</a>
</div>

<style>
    .feedback-box {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #ddd;
        border-radius: 10px;
        width: 50%;
    }

    .next-question-container {
        text-align: center;
        margin-top: 20px;
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('next-button').focus();

    document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            var focusedElement = document.activeElement;
            document.getElementById('next-button').click();
        }
    });
});

</script>

{% endblock %}
