{% extends 'cards/header.html' %}

{% block title %}True or False? {{ flashcard_set.name }}{% endblock %}
{% block content %}
{% load static %}
<div class="flashcard-nav-header">
    <div class="flashcard-nav-title">
        <h1>True or False?</h1>
    </div>
    <div class="flashcard-nav-buttons">
        <a href = "{% url 'study' flashcard_set.id %}" class="loginbtn">Back</a>
    </div>
</div>

<div class="game-box">
    <div class="question-container">
        <div class="flashcard">
            Term
            <h2>{{ flashcard.term }}</h2>
        </div>
        <div class="flashcard">
            Definition
            <h2>{{ flashcard.definition }}</h2>
        </div>
    </div>
    <div class="game-footer">
        <a href="{% url 'landing' %}">
        <!-- <a href="{% url 'true_false' flashcard_set.id %}?answer=true" class="loginbtn"> -->
            <img src="{% static 'images/true.png' %}" alt="True" class="game-button">
        </a>
        <a href="{% url 'landing' %}">
        <!-- <a href="{% url 'true_false' flashcard_set.id %}?answer=false" class="loginbtn"> -->
            <img src="{% static 'images/false.png' %}" alt="False" class="game-button">
        </a>
    </div>
</div>
{% endblock %}