{% extends 'cards/header.html' %}

{% block title %}True or False? {{ flashcard_set.name }}{% endblock %}
{% block content %}
{% load static %}
<div class="flashcard-nav-header">
    <div class="flashcard-nav-title">
        <h1>True or False?</h1>
    </div>
    <div class="flashcard-nav-buttons">
        <a href = "{% url 'study' flashcard_set.id %}" class="loginbtn">Back</a>
    </div>
</div>

<div class="game-box">
    <div class="question-container">
        <div class="flashcard">
            {{ flashcard.term }}
        </div>
        <div class="flashcard">
            {{ flashcard.definition }}
        </div>
    </div>
    <div class="game-footer">
        <a href="#" onclick="submitAnswer(true)">
            <img src="{% static 'images/true.png' %}" alt="True" class="game-button">
        </a>
        <a href="#" onclick="submitAnswer(false)">
            <img src="{% static 'images/false.png' %}" alt="False" class="game-button">
        </a>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const startTime = Date.now();

        window.submitAnswer = function(answer) {
            const elapsedTime = Math.round((Date.now() - startTime) / 1000); // in seconds
            const url = `{% url 'true_false_check' flashcard_set.id %}?answer=${answer}&time=${elapsedTime}`;
            window.location.href = url;
        };
    });
</script>

{% endblock %}
