body {
    font-family: 'Inter', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-left: 20px;
    color: #023047;
}

.forgot {
    color: #000000;
    text-align: left;
    display: block;
    margin-top: 10px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    max-width: 175px;
    height: auto;
}

header nav {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

header nav a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}


.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.landing-logo {
    max-width: 200px;
    margin-bottom: 20px;
}


.loginbtn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #023047;
    opacity: 0.75;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
}

.signupbtn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
}

.createsetbtn {
    padding: 10px 20px;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.loginbtn:hover, .signupbtn:hover {
    background-color: #0056b3;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    background-color: #023047;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.75;
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container .form-group {
    margin-bottom: 15px;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #023047;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #023047;
    opacity: 0.75; 
}

.flashcard-sidebar {
    position: fixed;
    top: 10;
    left: 25;
    width: 55%;
    height: 70%;
    z-index: 999;
    margin-left: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.flashcard-sets {
    flex-grow: 1;
    padding: 10px;
    margin-top: 20px;
    overflow-y: auto;
    border: 2px solid #00000043;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flashcard-nav-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.flashcard-img {
    max-width: 45px;
    height: auto;
    display: block;
}

.flashcard-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.flashcard-pair .form-group {
    flex: 1;
    margin-right: 10px;
}

.flashcard-pair .form-group.delete {
    flex-basis: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
}

#add-more-btn {
    background-color: #0289d1a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-more-btn:hover {
    background-color: #0277bd;
}

.flashcard-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}


.term-definition {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: auto;
}

.delete-btn {
    background-color: #0289d1a3;
    color: white;
    border: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.delete-btn img {
    width: 16px;
    height: 16px;
}

.delete-btn:hover {
    background-color: #0277bd;
}

.flashcard-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    background-color: #023047;
    opacity: 0.75;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.5;
}

.delete-set-form {
    display: inline-block;
    margin: 0;
}

