html {
    font-size: 80%;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #023047;
}

.forgot {
    color: #000000;
    text-align: left;
    display: block;
    margin: 1rem;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    max-width: 175px;
    height: auto;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

header nav a {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

    

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.landing-logo {
    max-width: 200px;
    margin-bottom: 20px;
}


.loginbtn {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
}

.signupbtn {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
}

.createsetbtn {
    display: flex;
    justify-content: right;
    padding: 1rem 2rem;
    background-color: #023047;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 0px 5px;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.createsetbtn:hover {
    background-color: #0056b3;
}

.loginbtn:hover, .signupbtn:hover {
    background-color: #0056b3;
}

.login-container {
    max-width: 40rem;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 2rem;
    font-size: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: inline-block;
    font-weight: bold;
    padding: 1rem;
    background-color: #023047;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.75;
}

.signup-container {
    width: 40rem;
    padding: 2rem;
    align-self: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.signup-container h2 {
    margin-bottom: 2rem;
}

.signup-container .form-group {
    margin-bottom: 1.5rem;
}

.signup-container label {
    display: block;
    margin-bottom: 0.5rem;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #023047;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #023047;
    opacity: 0.75; 
}

.flashcard-sidebar {
    /* flex: 3;
    position: fixed;
    top: 10;
    left: 25;
    width: 55%;
    height: 70%;
    z-index: 999;
    margin-left: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-width: 450px; */
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 27rem;
}

.scrollbox {
    width: 90%;
    height: 70vh;
    padding: 3rem;
    margin-top: 2rem;
    overflow-y: auto;
    border: 2px solid #00000043;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-box .scrollbox {
    width: 30rem;
    height: 30rem;
    margin-top: 0rem;
    padding: 2rem;
    overflow-x: hidden;
}


.large-device {
    display: block;
}
.small-device {
    display: none;
}

@media (max-width: 75rem) {
    .large-device {
        display: none;
    }
    .small-device {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        height: 90vh;
        margin: 1rem;
    }

    .page-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 2rem;
        margin: 1rem;
        background-color: #fff;
        height: 40vh;
        width: auto;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    .page-link a {
        width: 100%;
        height: 100%;
    }

    .page-link img {
        align-self: center;
        max-width: 25rem;
        margin-bottom: 1rem;
    }
    
    .page-option:hover {
        transform: scale(1.05);
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        justify-content: center;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        position: relative;
    }

    .header-logo {
        max-width: 150px;
    }

    header nav {
        flex-direction: column;
        gap: 0.5rem;
        width: 20%;
        margin-right: 0;
    }

    header nav a {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        text-align: center;
        width: 20%;
    }

    #menu-toggle {
        display: block;
        color: #000000;
    }

    #nav-menu {
        display: none;
        position: absolute;
        align-items: center;
        z-index: 10;
        flex-direction: column;
        gap: 0.5rem;
        width: 30%;
        background-color: #ffffff;
        opacity: 0.9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        top: 100%;
        right: 0;
    }

    #nav-menu.show {
        display: flex;
    }

    .scrollbox {
        height: 40vh;
    }

    .flashcard-sidebar {
        width: 90%;
    }

    .game-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        padding: 30px;
        border: 2px solid #00000043;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 50vh;
        box-sizing: border-box;
    }
}


.game-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 30px;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 55%;
    box-sizing: border-box;
}

.game-button {
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: transparent;
}

.game-button:hover {
    transform: scale(1.05);
}

.check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-weight: bold;
    padding: 10px 40px;
    background-color: #023047;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.check-button:hover {
    transform: scale(1.05);
}

.check-button.hidden {
    display: none;
}

button:disabled {
    background-color: #ccc;
    color: #666;          
    cursor: not-allowed;
    border: 1px solid #aaa;
}

button.disabled {
    opacity: 0.6;
}


input[type="radio"] {
    display: none;
}

.custom-radio {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="radio"]:checked + label.custom-radio {
    background-color: #023047;
    color: white;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-radio:hover {
    border-color: #023047;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.game-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 50%;
    box-sizing: border-box;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 20px;
    margin: 20px 0;
}

.progress-bar {
    height: 100%;
    width: 5%;
    background-color: #023047;
    transition: width 0.3s ease;
}

#progress-percentage {
    display: none;
}

.profile-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 3rem;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;
    min-width: 50rem;
    height: 85%;
    box-sizing: border-box;
}

.user-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #00000043;
}

.friend-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.friend-box {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.friend-box img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.modal { 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
                
.modal-content { 
    background: white; 
    padding: 2rem; 
    border-radius: 10px; 
    width: 30rem; 
}
                
.close { 
    float: right; 
    cursor: pointer; 
    font-size: 2rem; 
}


.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    min-width: 40rem;
    margin-top: 2rem;
}

.feedback-bar {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.feedback-bar.hidden {
    display: none;
}

.feedback-box {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 50%;
}

.next-question-container {
    text-align: center;
    margin-top: 20px;
}

.next-button {
    background-color: #023047;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    text-decoration: none;
}

.next-button:hover {
    opacity: 0.75;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
} 

.grid-item.selected {
    background-color: #023047;
    color: white;
    border-color: #023047;
}

.grid-item.hidden {
    opacity: 0;
    pointer-events: none;
}


.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border: 2px solid #00000043; */
    border-radius: 8px;
    /* background-color: #f8f9fa; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 90%;
    height: 200px;
    box-sizing: border-box;
}

.blank {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 2px !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px !important;
    width: auto;
    max-width: 150px;
    height: auto;
    text-align: center;
}


.flashcard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 25px;
    padding: 15px;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    box-sizing: border-box;
}


.badge-shop {
    float: right;
    width: 35%;
}

.badge-shop .header,
.flashcard-nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.badge-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.badge-box.purchased .badge-image img {
    filter: grayscale(100%);
    opacity: 0.6;
}

.badge-box .brainbucks[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

.brainbucks {
    font-weight: bold;
    font-size: medium;
    display: inline;
    gap: 10px;
}

.brainbucks img {
    width: 2rem;
    height: 2rem;
}


.flashcard-nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flashcard-nav-buttons {
    display: flex;
    gap: 1rem;
    float: right;
    width: 30%;
    justify-content: right;
    margin: 1rem;
}

.flashcard-img {
    max-width: 4rem;
    height: auto;
    display: block;
    float: left;
}

.flashcard-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 15px;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.flashcard-box .form-group {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0px;

}

.flashcard-box .form-group.delete {
    flex-basis: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
}

.flashcard-buttons {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 65%;
}

.flashcard-buttons .button {
    /* all: unset; */
    display: inline-block;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    background-color: #023047;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

.flashcard-buttons .button:hover {
    opacity: 0.5;
}

.flashcard-title {
    flex: 1;
    margin-right: 20px;
    font-weight: bold;
    text-align: left;
}

.delete-set-form {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.delete-set-form button {
    /* all: unset; */
    width: 70px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: #023047;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}

.delete-set-form button:hover {
    opacity: 0.5;
}


#add-more-btn {
    display: flex;
    background-color: #0289d1a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

#add-more-btn:hover {
    background-color: #0277bd;
}

#flashcard-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 95%;
    max-height: 95%;
    margin: 20px;
}


.term-definition {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-set-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: auto;
}

.delete-pair-btn {
    background-color: #0289d1a3;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.delete-pair-btn img {
    width: 20px;
    height: 20px;
}

.delete-pair-btn:hover {
    background-color: #0277bd;
}


/* .btn {
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    background-color: #023047;
    opacity: 0.75;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    float: center;
}

.btn:hover {
    opacity: 0.5;
} */


.dashboard {
    display: flex;
    gap: 8rem;
    padding: 2rem;
    justify-content: center;
}

.create-form {
    width: 90%;
    height: 100%;
    padding: 20px;
}

.term-container,
.definition-container {
    flex: 1;
    margin-right: 20px;
}

.definition-container {
    margin-right: 0;
    text-align: left;
}

.vertical-divider {
    width: 1px;
    background-color: #00000043;
    margin: 0 20px;
    height: auto;
    align-self: stretch;
}

.study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    height: 95%
}

.study-option img {
    width: 12rem;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.option-box {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px solid #00000043;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.option-box:hover {
    transform: scale(1.05);
}

.toast-container {
    align-items: center;
    margin: 0 auto;
}

.toast {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #0289d1a3;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeout {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}